<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="owner1" class="kr.hs.study.beans.Owner">
        <constructor-arg value="juyoung"/>
        <constructor-arg value="seoul"/>
    </bean>

    <bean id="d1" class="kr.hs.study.beans.Dog">
        <constructor-arg value="black"/>
        <constructor-arg value="4"/>
        <constructor-arg ref="owner1"/>
    </bean>

    <bean id="c1" class="kr.hs.study.beans.Cat">
        <constructor-arg value="black and white"/>
        <constructor-arg value="4"/>
        <constructor-arg ref="owner1"/>
    </bean>

</beans>